<div class="container">
  <form [formGroup]="searchFlightformGroup" (ngSubmit)="onSubmit(searchFlightformGroup.value)" class="form-container">

    <div class="filterSearchAiportClass">      
      <mat-form-field appearance="fill" class="form-element-filter">
        <mat-label>Direction</mat-label>
        <mat-select formControlName="filterWayControl">
          <mat-option value="primary">Aller simple</mat-option>
          <mat-option value="primary">Aller-retour</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-element-filter">
        <mat-label>Confort</mat-label>
        <mat-select formControlName="filterWayControl">
          <mat-option value="primary">Economique</mat-option>
          <mat-option value="primary">Economique supérieure</mat-option>
          <mat-option value="primary">Affaires</mat-option>
          <mat-option value="primary">Première</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="searchAiportClass">
      <mat-form-field class="form-element">
        <input matInput placeholder="Aéroport de départ" formControlName="flightStart">
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Aéroport d'arrivé" formControlName="flightEnd">
      </mat-form-field>

      <mat-form-field class="form-element">
          <mat-date-range-input formGroupName="rangeDate" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Date de départ">
            <input matEndDate formControlName="end" placeholder="Date de retour">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="searchFlightformGroup.controls['rangeDate'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
      </mat-form-field>
      
      <div>
        <button mat-raised-button color="warn" type="submit" class="button">Rechercher</button>
      </div>

    </div>
  </form>
</div>
